/* Basic styling */
body {
  font-family: "Fira Code", monospace;
  color: #333;
  background-color: #fefefe;
  margin: 0;
  padding: 2rem;
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

h3 {
  font-size: 1rem; /* same size as .description */
  font-weight: bold;
  text-decoration: underline;
  margin-top: 1rem;
  color: #333;
}


.description {
  font-size: 1rem;
  color: #555;
  margin-top: 0.5rem;
  line-height: 1.4;
}

/* Sections */
.writing h2, .contact h2 {
  font-size: 1.3rem;
  margin-top: 1.5rem;
}

.writing ul, .contact ul {
  list-style-type: none;
  padding: 0;
}

.writing li, .contact li {
  margin-bottom: 0.8rem;
}

.writing strong {
  font-weight: bold;
}

/* Links */
a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  text-align: left;
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #888;
}
